body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}
.wrapper {
   background-image: 
   url("images/bg-pattern-top-desktop.svg"),
   url("images/bg-pattern-bottom-desktop.svg");
   background-position: left top, right bottom;
   background-repeat: no-repeat;
   margin: 200px;
   padding: 130px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.336);
   border-radius: 15px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro {
    display: flex;
    flex-direction: column;
    width: 40%;

}
.intro h1 {
    color: hsl(300, 43%, 22%);
    font-size: 55px;
    font-weight: bold;
    margin: 0;
}
.intro p {
    color: hsl(301, 42%, 22%);
    font-weight: 400;
}

.stars {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:  hsl(302, 62%, 19%);
    font-weight: bolder;
    font-size: 15px;
}

.stars span {
    font-size:25px;
    color:rgb(255, 166, 0);
    margin-left: 20px;
}
.rating {
    width: 80%;
    background-color: hsl(300, 24%, 96%);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.rating p {
   display: inline-block;
}
.r2 {
    margin-left: 50px;
}

.r3 {
    margin-left: 100px;
}

.cards {
    display: flex;
    flex-direction: row;
    margin: 50px 0 50px 0;
    justify-content: space-between;
}

.card {
    width: 28%;
    background-color: hsl(302, 70%, 16%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    padding: 25px;
    position: relative;
    height: 200px
}

.card img {
    border-radius: 50%;
    width: 40px;
    position: absolute;
    top: 30px;
    left: 60px;
}

.card h2 {
    font-size: 15px;
    display: inline;
    position: absolute;
    top: 25px;
    left: 120px;
}

.card h3 {
    color: hsl(333, 80%, 67%);
    font-size: 14px;
    position: absolute;
    top: 45px;
    left: 120px;
    margin-bottom: 20px;
}

.card blockquote {
    font-size: 14px;
    margin-top: 80px;
    line-height: 20px;
}

.card2 {
    margin-top: 30px;
}

.card3 {
    margin-top: 60px;
}

@media only screen and (max-width: 480px) {
    .wrapper {
        background-image: none;
        background-color:  hsl(0, 0%, 100%);;
        margin: 50px 10px 50px 10px;
        padding: 10px;
        box-shadow: none;
        border-radius: none;
     }
     .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .intro {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    
    }
    .intro h1 {
        font-size: 25px;
        margin: 0px 30px 0px 30px;
    }
    .intro p {
        font-size: 14px;
        margin: 20px 30px 20px 30px;
    }
    
    .stars {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-weight: bolder;
    }
    
    .rating {
        width: 100%;
        margin: 5px;
        text-align: center;
    }
    .rating span {
        font-size: 20px;
    }

    .rating p {
        font-size: 12px;
        display: block;
    }
 
    .r1 {
        margin-left: 0;
    }
    
    .r2 {
        margin-left: 0;
    }
    
    .r3 {
        margin-left: 0;
    }
    
    .cards {
        display: flex;
        flex-direction: column;
        margin: 30px 0 20px 0;
    }
    
    .card {
        width: 100%;
        padding: 5px;
        height: 200px
    }
    
    .card img {
        border-radius: 50%;
        width: 40px;
        position: absolute;
        top: 30px;
        left: 40px;
    }
    
    .card h2 {
        font-size: 15px;
        top: 20px;
        left: 100px;
    }
    
    .card h3 {
        font-size: 14px;
        top: 40px;
        left: 100px;
        margin-bottom: 20px;
    }
    
    .card blockquote {
        font-size: 12px;
        margin-top: 80px;
        line-height: 20px;
    }
    
    .card2 {
        margin-top: 20px;
    }
    
    .card3 {
        margin-top: 20px;
    }
}